@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-100: #030303;
    --neutral-90: #1A1A1A;
    --neutral-80: #333333;
    --neutral-70: #4D4D4D;
    --neutral-60: #666666;
    --neutral-50: #808080;
    --neutral-40: #999999;
    --neutral-30: #B3B3B3;
    --neutral-20: #cccccc;
    --neutral-10: #E6E6E6;
    --neutral-5: #F3F3F3;
    --neutral-white: #ffffff;

    --primary-500: #6100FF;
    --primary-400: #883EFF;
    --primary-300: #A66FFF;
    --primary-200: #C9A8FF;
    --primary-100: #E0CEFF;
    --primary-50: #F2EBFF;

    --strokeLine-blue: #99BDFF;
    --strokeLine-main10: #E6E6E6;
    --strokeLine-main5: #F3F3F3;

    --background-purpleLight: #FAF8FF;
    --background-purpleDark: #E3E1E7;
    --background-redLight: #FFEFEF;
    --background-grayLight: #F1F1F1;
    --background-grayDark: #C2C2C2;

    --system-warning: #FF6D6D;
    --system-assist: #6DB0FF;
    --system-suggest: #FFD542;
    --system-success: #00C308;
  }
}
